.main {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
}

.section {
    width: 1024px;
    height: 100%;
}

.title {
    margin-top: 16px;
    font-size: 32px;
    font-weight: 300;
}

.container {
    border: 1px solid lightgray;
    background-color: white;
    padding: 8px;
}

.buttonContainer {
    display: flex;    
    justify-content: end;

    margin-top: 8px;
}

.buttonContainer input {
    border: none;
    width: 80px;
    height: 30px;
}

.cancleButton {
    background: #e0e0e0;
    color: #333;
}

.cancleButton:hover {
    background: #bdbdbd;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

@media screen and (max-width: 1024px) {
    .section {
        padding: 0px 8px;
    }
}