.main {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    min-height: 0;
}

.section {
    width: 1024px;
    margin: 16px 0px;
    padding: 8px;
    
    min-height: 0;

    display: flex;
    flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.title > h2 {
  font-size: 32px;
  font-weight: 300px;
}

.title > p {
  font-size: 14px;
  color: #666;
}

.listContainer {
    height: 100%;
    margin-top: 16px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 8px;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.listContainer::-webkit-scrollbar {
    display: none;
}

.contentListContainer {
    min-height: 0;
    height: 100%;

    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.board_list {
  display: grid;
  grid-template-columns: 80px 1fr 120px 200px 80px; 
  align-items: center;
  padding: 8px 12px;
  
  border-bottom: 1px solid #eee;
  transition: background-color 0.2s ease;
}

.board_list > li{
    font-size: small;
    text-align: center;
    padding: 0px 2px;

    white-space: nowrap; 
    overflow: hidden;        
    text-overflow: ellipsis;
}

.board_list > li:not(:last-child) {
    border-right: 1px solid lightgray;
}

.board_list:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}   

.first_list {
  background: #f5f5f5;
  font-weight: bold;
}

.first_list:hover {
    cursor: auto;
    background-color: #f5f5f5;
}

.buttonContainer {
    display: flex;
    justify-content: end;
    gap: 16px;

    padding: 20px 0px;
}

.buttonContainer input {
    border: none;

    width: 80px;
    height: 30px;
}

.cancleButton {
    background: #e0e0e0;
    color: #333;
}

.cancleButton:hover {
    background: #bdbdbd;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.submitButton {
    background: #1976d2;
    color: white;
}

.submitButton:hover {
    background: #1560ab;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

@media screen and (max-width: 1024px) {
    .section {
        width: 100%;
    }

    .title {
        display: block;
        padding: 0px 8px;
    }

    .board_list {
        grid-template-columns: 30px 1fr 50px 1fr 40px; 
    }
}