.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    width: 1024px;
}

.title {
    margin-top: 16px;
    font-size: 32px;
    font-weight: 300;
}

.container {
    border: 1px solid lightgray;
    background-color: white;
    padding: 8px;
}

.buttonContainer {
    display: flex;    
    justify-content: end;

    margin-top: 8px;
    gap: 8px;
}

.buttonContainer input {
    border: none;
    width: 80px;
    height: 30px;
}

.cancleButton {
    background: #e0e0e0;
    color: #333;
}

.cancleButton:hover {
    background: #bdbdbd;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.editButton {
    background: #1976d2;
    color: white;
}

.editButton:hover {
    background: #1560ab;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.deleteButton {
    background: #dc3545;
    color: #ffffff;
}

.deleteButton:hover {
    background: #c82333;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

@media screen and (max-width: 1024px) {
    .main {
        width: 100%;
        padding:8px;
        box-sizing: border-box;
    }
    .section {
        width: 100%;
    }
}