.container {
  width: 760px;
  height: auto;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px 0px 20px;
    font-size: 12px;
}

.localDatetime {
    border: none;
    padding: 2px 4px 2px 4px;
    border-radius: 10px;
    background: white;
}

.button {
    border:none;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.button:hover {
    cursor: pointer;
}

.activeButton {
    background: rgb(109, 192, 247);
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
}

.dateTimeContainer {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}

.datetime {
    padding: 0px 5px 0px 5px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@media(max-width: 768px) {
    .container {
        width: 100%
    }

    .header {
    }
}