.main {
    width: 100%;
    height: calc(100vh - 40px - 30px);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    width: 576px;
    padding: 8px;

    background-color: white;
    border: 1px solid lightgray;
    border-radius: 2px;
}

.section > h2 {
    font-size: 24px;
}

.loginForm {
    margin-top: 8px;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

.signup {
    display: flex;
    justify-content: end;
}