.navigation {
    width: 100%;
    height: 29px;
    background-color: white;
    border-bottom: 1px solid lightgray;
    position:sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
}

.container {
    width: 1024px;
}

.menuContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4px;
}

.menuContainer > li {
    font-family: 'DMSans';
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 2px;
}

.menuContainer > li:hover {
    background-color: rgb(239, 244, 252);
    border-bottom: 2px solid rgb(133, 177, 235);
}

.menuContainer > li > a {
    color: gray;
    text-decoration: none;
}

.menuContainer > li:hover > a {
    color: rgb(133, 177, 235);
}

.menuContainer > li.active > a {
    color: rgb(133, 177, 235);
}

.active {
    background-color: rgb(239, 244, 252);
    border-bottom: 2px solid rgb(133, 177, 235);
}
