.container {
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.card {
    width: 100%;
    background-color: white;

    border: 1px solid lightgray;
    border-radius: 4px;

    display: flex;
    flex-direction: column;

    padding: 8px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardContent {
    margin-top: 8px;
}

.cardContent span {
    font-size: 24px;
    font-weight: bold;
}

.cardContent p {
    margin-top: 8px;
    font-size: 12px;
}

@media screen and (max-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 4px;
    }

    .card {
        width: auto;
    }
}