.container {
  display: flex;
}

.timestamp {
  margin-top: 20px;
  font-size: 14px;
  color: #999;
}

.main {
  width: 100%;
  height: 100%;
}

.section {
  width: 1024px;
  margin: 0 auto;
  padding: 16px;
}

@media screen and (max-width: 1024px) {
  .section {
    width: auto;
    padding: 8px;
  }
}