.main {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
}

.section {
    width: 1024px;
    height: 100%;
}

.form {
    margin-top: 16px;
    height: 800px;
    
    display: flex;
    flex-direction: column;

    gap: 4px;
}

.inputTitle {
    border: none;
    background-color: transparent;
    font-size: 30px;
}

.form hr {
    width: 100%;
}


.buttonContainer {
    display: flex;
    justify-content: end;
    gap: 16px;

    padding: 20px 0px;
}

@media screen and (max-width: 1024px) {
    .section {
        width: 100%;
        padding: 0px 8px;
    }

    .form {
        height: 700px;
    }
}