.aggrid {
    height: 100%;
}
.aggrid.container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.button {
    cursor: pointer;

    border: none;

    min-width: 80px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.button.insert {
    background: #1976d2;
    color: white;
}

.button.insert:hover {
    background: #1560ab;
    transition: background-color 0.2s ease;
}

.button.edit {
    background: #1976d2;
    color: white;
}

.button.edit:hover {
    background: #1560ab;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button.csv {
    background-color: #31bf7d;
    color: white;
}

.button.csv:hover {
    background-color: #2ea16b;
    transition: background-color 0.2s ease;
}

.button.cancle {
    background: #e0e0e0;
    color: #333;
}

.button.cancle:hover {
    background: #bdbdbd;
    transition: background-color 0.2s ease;
}

.button.delete {
    background: #dc3545;
    color: white;
}

.button.delete:hover {
    background: #c82333;
    transition: background-color 0.2s ease;
}

.aggrid {
    display: flex;
    align-items: center;
}

.aggrid.button {
    width: 100%;
    height: 100%;
}

.fileInput{
    display: none;
}

.label {
    cursor: pointer;

    border: none;

    min-width: 80px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    font-size: 12px;
}

.label.csv {
    background-color: #31bf7d;
    color: white;
}